body {
    font-family: Arial, sans-serif;
    background-color: #0260f5;
  }

#pose-result {
    padding: 10px;

}

#control {
    width: 100%;
    border: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
}


  #pose-video {
    transform: scaleX(-1);
    margin: 5px;
  }

  #pose-canvas {
      background-color: azure;
      margin: 5px;
  }

  #hand-pose {
      display: flex;
      justify-content: center;
      border: solid;
      margin-bottom: 10px;;
  }